@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.Input {
  margin-left: 20px;
  margin-right: 20px;
  height: 20%;
  font-size: 40px;
  border: 0;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  font-family: "Anton", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: white;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
