@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.Button {
  width: 20%;
  background: transparent;
  border: 1px solid #ffffff;
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-style: normal;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}

.BiggerButton {
  width: 50%;
  background: transparent;
  border: 1px solid #ffffff;
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-style: normal;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}

.Button:hover,
.BiggerButton:hover {
  animation: 1.2s bigger;
}

@keyframes bigger {
  to {
    transform: scale(1.08);
  }
}

.ENTER {
  background: #ffffff;
  color: #000000;
  transform: scale(1.08);
}
